/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;


// Base document colors
$body-bg: #001382; //#0025ff; // #181818;
$body-color: white;
$link-color: #00ff48; // #f5e61d; // #75AADB;

/*-- scss:rules --*/

.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #5B888C;
  border-bottom: 1px solid #5B888C;
  background-image: url("images/render-commit-push.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #E0A890;
  border-bottom: 1px solid #E0A890;
  background-image: url("images/pull.png");
  background-size: 1em;
  background-position: 1em 0.5em;
}


.terminal {
  background-color: #2f343f;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  height: 400px;
  position: relative;
  width: 600px;
}

.terminal-header {
  background-color: #3f4a5b;
  border-radius: 5px 5px 0 0;
  color: #fff;
  display: flex;
  height: 30px;
  position: absolute;
  top: 0;
  width: 100%;
}

.terminal-button {
  height: 10px;
  margin: 10px 10px 10px 0;
  width: 10px;
}

.terminal-button-close {
  background-color: #f44336;
  border-radius: 50%;
}

.terminal-button-minimize {
  background-color: #fbc02d;
  border-radius: 50%;
}

.terminal-button-maximize {
  background-color: #4caf50;
  border-radius: 50%;
}

.terminal-title {
  margin: 0 auto;
}

.terminal-body {
  color: #fff;
  height: 340px;
  overflow-y: scroll;
  padding: 10px;
}

.terminal-input {
  color: #fff;
  display: flex;
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.terminal-prompt {
  margin-right: 5px;
}

.terminal-input-field {
  background-color: transparent;
  border: none;
  color: #fff;
  flex-grow: 1;
  font-family: "Ubuntu Mono", monospace;
  font-size: 14px;
  outline: none;
}
